[Desktop Entry]
Name=Application Installation
Name[ru]=Установка приложений
Comment=Finds non-installed packaging matching query
Comment[ru]=Находит неустановленные пакеты с подходящим именем

Icon=applications-other
Type=Service

X-KDE-ServiceTypes=Plasma/Runner
X-KDE-Library=plasma_runner_appinstall
X-KDE-PluginInfo-Author=Alexey Noskov
X-KDE-PluginInfo-Email=alexey.noskov@gmail.com
X-KDE-PluginInfo-Name=appinstall_runner
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Ubuntu-Gettext-Domain=desktop_kdesdk
